@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Base theme colors */
  --color-primary: #0466c8; 
  
  --color-light: #FFFFFF; 
  --color-dark: #000000;

  /* Mixing colors */
   --color-background: color-mix(in srgb, var(--color-light) 98%, var(--color-primary) 2%); 
  --color-text: color-mix(in srgb, var(--color-dark) 85%, var(--color-light) 15%);
  --color-secondary: color-mix(in srgb, var(--color-text) 10%, var(--color-primary) 70%);
  --color-card: color-mix(in srgb, var(--color-light) 95%, var(--color-primary) 5%);
  --color-tertiary: color-mix(in srgb, var(--color-dark) 50%, var(--color-primary) 50%);
}

@theme {
  --color-primary: var(--color-primary);
  --color-light: var(--color-light); 
  --color-dark: var(--color-dark);
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-secondary: var(--color-secondary);
  --color-card: var(--color-card);
  --color-tertiary: var(--color-tertiary);

}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  @apply text-tertiary;
}

.section-gap {
  @apply flex flex-col gap-y-8 lg:gap-y-12;
}

.input {
  @apply border border-text/20 bg-background p-4 rounded;
}

.btn {
  @apply border border-transparent rounded-md px-3 py-2 text-background bg-primary font-medium transition-all duration-300 hover:bg-background hover:text-primary hover:border-primary;
}

.btn-primary {
  @apply text-primary bg-background border-primary hover:text-background hover:bg-primary;
}

.btn-tertiary {
  @apply text-light bg-tertiary hover:bg-primary hover:text-background;
}

.btn-outline {
  @apply text-light bg-transparent border-light hover:text-background hover:bg-primary;
}

.btn-sm {
  @apply px-4 py-1 text-sm;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-text bg-background;
  }
}
.swiper-button-prev, .swiper-button-next {
  @apply !text-primary;
}